/* white bar at the top */
.headercontainer{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 114px;
    background-color: white;
    box-shadow:0 0 3mm 0 grey;
}
.innerheadercontainer{
  margin:auto;
  width: 960px;
}
/* whole document */
body {
  height: 100%;
  margin: 0;
    background-image: url(../images/background.jpeg);
    background-attachment: scroll;
  }
  /* profile page white box */
.profileimg{
margin-top: 0.5cm;
margin-right: 1.3cm;
border-radius: 5px;
}
.itextarea{
  width: 820px;
  position: absolute;
  font: 'Georgia';
  color: grey;
  font-size: 25px;
}
h3{
  position: fixed;
  left: 330px;
  bottom: 300px;
}
ul{
  position: fixed;
  left: 350px;
  bottom: 175px;
}
.par1{
  position: absolute;
  top: 18px;
  line-height: 40px;
}
.par2{
  width: 300px;
  text-align: center;
  position: fixed;
  top: 584px;
  left: 850px;
  line-height: 40px;
}
.name{
    top:29px;
    font-size: 30px;
    font-family: 'Georgia';
    color: white;
    background-color: rgb(74, 195, 252);
    padding-top: 25px;  
    padding-bottom: 25px;  
    padding-left: 18px;  
    padding-right: 18px;  
    font-weight: bold;
}
.links{
    position:relative;
    left: 330px;
    text-decoration: none;
    font-size: 20px;
    font: "Arial";
    color: grey;
    margin-right: 10px;
    margin-left: 10px;
}
/* contact form */
.form{
    line-height: 45px;
    text-indent:100px; 
    font-size: 25px;
    color: grey;
    font:'Georgia';
}
/* portfolio white background */
.icontainer {
  margin: 34px auto 111px auto;
  width: 860px;
  height:600px;
  border-radius: 5px;
  background-color: white;
  padding: 20px 50px;
  box-shadow:0 0 3mm 0 rgb(161, 161, 161);
}
/* portfolio white background */
.pcontainer {
    margin: 183px auto 130px auto;
    width: 860px;
    height:1000px;
    border-radius: 5px;
    background-color: white;
    padding: 20px 50px;
    box-shadow:0 0 3mm 0 rgb(161, 161, 161);
  }
   /* contact white background */
.ccontainer {
  margin: 90px auto 70px auto;
  width: 860px;
  height:640px;
  border-radius: 5px;
  background-color: white;
  padding: 20px 50px;
  box-shadow:0 0 3mm 0 rgb(161, 161, 161);
}
  /* name and email input boxes */
  .box{
    margin-left: 5px;
      width: 850px;
      height: 20px;
      font-size: 20px;
      font:'Georgia';
  }
  textarea{
      margin-left: 5px;
      height: 280px;
      width: 850px;
      outline-color: grey;
      font:'Georgia';
      font-size: 20px;
  }
  /* the submit button */
  input[type=submit] {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 19px;
    background-color: rgb(74, 195, 252);
    color: white;
    padding: 10px 22px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  /* About, Portfolio, and Contact headings */
h2{
    font-size: 33px;
    text-align: center;
    font-family: 'Georgia';
    color: rgb(74, 195, 252);
}

/* this is the grid for the portfolio */
.column {
    float: left;
    width: 100%;
    padding: 5px;
    height: 310px;
    width: 420px;
    position: relative;
    text-align: center;
    color: black(3, 3, 3);
  }

  .row::after {
  content: "";
  clear: both;
  display: table;
}
.centered {
  text-decoration: none;
  color: inherit;
  color:  black(0, 0, 0);
  background-color: white;
  position: absolute;
  bottom: 185px;
  left: 20px;
  right: 20px;
  padding-left: 75px;
  padding-right: 75px;
  font-size: 30px;
  }
.wrapper{
  min-height: 100%;
  margin-bottom: -38px;
}
.push{
  height: 32px;
}
  .footer{
    border-top: 5px solid rgb(74, 195, 252);
    height: 32px;
    width: 100%;
    left: 0px;
    bottom:0px;
    padding-top: 12px;
    text-align: center;
    color: white;
    background-color: rgb(150, 150, 150);
    z-index: 2;
  }
  .footershaddow{
    color:  rgb(150, 150, 150);
    left:0px;
    bottom:50px;
    width: 100%;
    height: 5px;
    background-color: rgb(74, 195, 252);
    position: fixed;
    z-index: 1;
  }