/* white bar at the top */
.headercontainer{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 114px;
    background-color: white;
    box-shadow: 3mm;
}
.innerheadercontainer{
  margin:auto;
  width: 960px;
}
/* whole document */
body {
    background-image: url(../images/background.jpeg);
    background-attachment: scroll;
  }
  /* profile page white box */
.element {
    position: absolute;
    left: 20%;
    right:20%;
    background-color: white;
    color: grey;
    height: 960px;
    width: 960px;
}
.profileimg{
padding-top: 0.5cm;
padding-left: 0.7cm;
padding-right: 0.7cm;
padding-bottom: 0.7cm;
}
.name{
    top:29px;
    font-size: 30px;
    font-family: 'Georgia';
    color: white;
    background-color: rgb(74, 195, 252);
    padding-top: 25px;  
    padding-bottom: 25px;  
    padding-left: 18px;  
    padding-right: 18px;  
    font-weight: bold;
}
.links{
    position:relative;
    left: 370px;
    text-decoration: none;
    font-size: 20px;
    font: "Arial";
    color: grey;
    margin-right: 10px;
    margin-left: 10px;
}
/* contact form */
.form{
    line-height: 45px;
    text-indent:100px; 
    font-size: 25px;
    color: grey;
    font:'Georgia';
}
/* portfolio white background */
.container {
    top: 150px;
   margin: 10px auto;
    width: 960px;
    height:1100px;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
  }
   /* contact white background */
.ccontainer {
  margin: 90px auto;
  width: 960px;
  height:640px;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}
  /* name and email input boxes */
  .box{
    margin-left: 5px;
      width: 940px;
      height: 20px;
      font-size: 20px;
  }
  textarea{
      margin-left: 5px;
      height: 280px;
      width: 940px;
      outline-color: grey;
  }
  /* the submit button */
  input[type=submit] {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 19px;
    background-color: rgb(74, 195, 252);
    color: white;
    padding: 10px 22px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  /* About, Portfolio, and Contact headings */
h2{
    font-size: 33px;
    font-family: 'Georgia';
    color: rgb(74, 195, 252);
}

/* this is the grid for the portfolio */
.column {
    float: left;
    width: 100%;
    padding: 5px;
    height: 340px;
    width: 470px;
    position: relative;
    text-align: center;
    color: black(3, 3, 3);
  }

  .row::after {
  content: "";
  clear: both;
  display: table;
}
.centered {
  text-decoration: none;
  color: inherit;
  color:  black(0, 0, 0);
  background-color: white;
  position: absolute;
  bottom: 120px;
  left: 20px;
  right: 20px;
  padding-left: 75px;
  padding-right: 75px;
  font-size: 30px;
  }