header{
    color: white;
}
body {
    background-color: #e3e6e6;
  }
.element {
    color: white;
    height: 5000px;
    width: 5000px;
}
.name{
    text-indent: 100px; 
    font-size: 30px;
    font-family: 'Georgia';
    color: white;
    background-color: rgb(74, 195, 252);
    padding-top: 25px;  
    padding-bottom: 25px;  
    padding-left: 18px;  
    padding-right: 18px;  
    font-weight: bold;
}
.links{
    text-decoration: none;
    font: "Arial";
    text-align: right;
    color: grey;
    margin-right: 10px;
    margin-left: 10px;
    
}
.form{
    text-indent:100px; 
    color: grey;
    font: "Arial";
}
.container {
    position: absolute;
    left: 150px;
    right: 150px;
    width: 550px;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
  }
  textarea{
      height: 200px;
      width: 450px;
      outline-color: grey;
  }
  input[type=submit] {
    font-size: 14px;
    background-color: rgb(74, 195, 252);
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
h2{
    font-size: 27px;
    font-family: 'Georgia';
    color: rgb(74, 195, 252);
}